<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout/basic">

<th:block layout:fragment="content">
	<input type="text" th:value="${division.getKey()}" />
	<div class="p-5 mb-4 bg-light rounded-3">
		<div class="container-fluid py-5">
			<div class="card">
				<div class="table-responsive">
					<table class="table table-responsible table-bordered table-striped table-hover">
						<thead class="thead-dark">
							<tr>
								<th style="width: 5%" scope="col">No.</th>
								<th style="width: 10%" scope="col">T</th>
								<th style="width: 70%" scope="col">Ttile</th>
								<th style="width: 10%" scope="col">Writer</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty( boardList )}" class="board_content_row"
								th:each="row : ${boardList}" onclick="moveDetailPage(this);">
								<td scope="row" id="boardId" th:text="${row.id}"></td>
								<td scope="row">
									<img style="border-radius: 50%; width: 70px; height: 70px;"
										th:src="${row.thumbnail}" />
								</td>
								<td class="text-left" th:text="${row.title}"></td>
								<td th:text="${row.writer}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty( boardList )}">
								<td colspan="5">조회된 결과가 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="edit-post">
				<div class="btn-group" role="group" aria-label="Basic example">
					<a th:href="@{/board/board_write.do(division=${division})}">
						<button type="button" class="btn btn-secondary">
							Write Post
						</button>
					</a>
				</div>
			</div>

			<nav th:replace="/common/fragments/pagination :: pagination"></nav>

		</div>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
		function movePage(uri, queryString) {
			var division = /*[[${division.getKey()}]]*/ null;
			location.href = uri + queryString + "&division=" + division;
		}

		function moveDetailPage(row) {
			var id = $(row).find("td#boardId").text();
			window.location = "/board/board_detail.do?id=" + id;
		}

		/*[- end of function -]*/

		/*]]>*/
	</script>

</th:block>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/board_list.css}" />
</th:block>

</html>