<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout/basic">

<th:block layout:fragment="content">
	<div class="p-5 mb-4 bg-light rounded-3">
		<div class="container-fluid py-5">
			<form th:action="@{/board/register.do}" method="POST" class="board_write_form">
				<input type="hidden" name="id" th:value="${board.getId()}">
				<input type="hidden" name="email" th:value="${user.getEmail()}">
				<input type="hidden" name="writer" th:value="${user.getName()}">
				<input type="hidden" id="thumbnail" name="thumbnail">
		
				<div class="form-group">
					<label for="exampleFormControlInput1">Title</label>
					<input type="text" th:value="${board.getTitle}" name="title" class="form-control" placeholder="Put title here...">
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect1">Division select</label>
					<select th:if="${board.getRole != null}" class="form-control" id="divisionSelect">
						<option th:selected="${board.getRole().toString()} == ${d.getKey().toString()}"
							th:each="d: ${divisionList}" th:key="${d.getKey()}"
							th:value="${d.getValue()}">
							[[${d.getValue()}]]
						</option>
					</select>
					<select th:unless="${board.getRole != null}" class="form-control" id="divisionSelect">
						<option th:selected="${division.toString()} == ${d.getKey().toString()}"
							th:each="d: ${divisionList}" th:key="${d.getKey()}"
							th:value="${d.getValue()}">
							[[${d.getValue()}]]
						</option>
					</select>
					<input type="hidden" id="role" name="role">
				</div>
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Content</label>
					<textarea id="content" name="content" class="form-control">[[${board.getContent}]]</textarea>
				</div>
				<div class="board_write_submit_btn">
					<button type="button" onclick="submit_btn_click();" class="btn btn-primary">작성하기</button>
				</div>
			</form>
		</div>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script src="/ckeditor/ckeditor.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/

		$(function () {
			CKEDITOR.replace('content', {
				filebrowserImageUploadUrl: '/common/ckUpload?type=img',
				font_names: "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana",
				font_defaultLabel: "맑은 고딕/Malgun Gothic",
				fontSize_defaultLabel: "12",
				language: "ko",
				/* skin: "moono-dark", */
				height: "50vh"
			})
		});
		
		function submit_btn_click() {
			var form = $("form.board_write_form");
			var role_input = $("input#role");
			var option = $("#divisionSelect option:selected").attr("key");
			/*
			var thumbnail = $("input#thumbnail");
			thumbnail.val(get_thumbnail_src());
			*/
			role_input.val(option);
			
			form.submit();
		}
		
		function get_thumbnail_src() {
			var temporaryElement = document.createElement('div');
			temporaryElement.innerHTML = $("textarea#content").val();
			console.log(temporaryElement);
			var result = temporaryElement.getElementsByTagName('img')[0];
			
			if ($(result).attr('src') == null) {
				return "/common/ckDownload/placeholder-image.jpg";
			}
			return $(result).attr('src');
		}

		/*[- end of function -]*/
		/*]]>*/
	</script>
</th:block>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/board_write.css}" />
</th:block>

</html>