<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout/basic">

<th:block layout:fragment="content">
	<div class="p-5 mb-4 bg-light rounded-3">
		<div class="container-fluid py-5">
			[[${board.getContent() == null}]]
			[[${user.getEmail()}]]
			[[${board.getId()}]]
			[[${board.getContent()}]]
			[[${board.getRole()}]]
			[[${board.getEmail()}]]


			<form th:action="@{/board/register.do}" th:object="${board}" method="POST" class="board_write_form">
				<input type="hidden" th:field="*{email}">
				<input type="hidden" th:field="*{writer}">
				<input type="hidden" th:field="*{thumbnail}">
				<div class="form-group">
					<label for="exampleFormControlInput1">Title</label>
					<input type="text" th:field="*{title}" class="form-control" placeholder="Put title here...">
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect1">Example select</label>
					<select th:if="${board.getRole != null}" class="form-control" id="divisionSelect">
						<option th:selected="${board.getRole().toString()} == ${division.getKey().toString()}"
							th:each="division: ${divisionList}" th:key="${division.getKey()}"
							th:value="${division.getValue()}">
							[[${division.getValue()}]]
						</option>
					</select>
					<select th:if="${board.getRole == null}" class="form-control" id="divisionSelect">
						<option
							th:each="division: ${divisionList}" th:key="${division.getKey()}"
							th:value="${division.getValue()}">
							[[${division.getValue()}]]
						</option>
					</select>
					<input type="hidden" th:field="*{role}" id="role_input">
				</div>
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Content</label>
					<textarea th:field="*{content}" name="content" class="form-control"></textarea>
				</div>
				<div class="board_write_submit_btn">
					<button type="button" onclick="submit_btn_click();" class="btn btn-primary">Primary</button>
				</div>
			</form>
		</div>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script src="/ckeditor/ckeditor.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/

		$(function () {
			CKEDITOR.replace('content', {
				filebrowserUploadUrl: '/common/ckeditor/fileUpload',
				font_names: "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana",
				font_defaultLabel: "맑은 고딕/Malgun Gothic",
				fontSize_defaultLabel: "12",
				language: "ko",
				skin: "moono-dark",
				height: "50vh"
			})
		});
		
		function submit_btn_click() {
			var form = $("form.board_write_form");
			var role_input = $("input#role_input");
			var option = $("#divisionSelect option:selected").attr("key");
			
			role_input.val(option);
			
			form.submit();
		}

		/*[- end of function -]*/
		/*]]>*/
	</script>
</th:block>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/board_write.css}" />
</th:block>

</html>