@charset "UTF-8";

div.p-5.mb-4 {
	padding: 0px !important;
}

ul.pagination {
	justify-content: center;
}

div.edit-post {
	display: flex;
	margin-top: 30px;
	justify-content: flex-end;
}

div.text-center {
	margin-top: 20px;
}

thead.thead-dark tr th {
	text-align: center;
}

tbody tr td {
	text-align: center;
	vertical-align: middle !important;
}

tr.board_content_row:hover {
	cursor: pointer;
}