@charset "UTF-8";

div.container-div {
	
}

div.main-div {
	background-color: #c0c0c0;
	border-radius: 15px;
	width: 90vw;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

p {
	margin: 0px;
}

input.comment-input {
	border-radius: 5px !important;
}

div.title-div {
	text-align: center;
	font-size: 1.5rem;
}

div.info-div {
	padding-right: 15px;
	font-size: 0.8rem;
	text-align: right;
}

div.content-innerHTML {
	background-color: white;
	min-height: 150px;
	border-radius: 15px;
	margin:5px;
	padding: 5px;
	padding-left: 15px;
}

div.recommend-div {
	font-size: 0.5rem;
	display: flex;
	justify-content: center;
}

div.control-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

div.comment-not-login {
	padding: 10px;
	text-align: center;
}

div.comment-write {
	padding: 15px;
	align-items: center;
	margin-bottom: 0px !important;
}

.user_profile_image {
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

div.wrote-user-info {
	padding: 10px;
	border-radius: 5px;
	background-color: #d3d3d3;
}

div.control-div div.button-div {
	/*margin-left: auto;*/
}

/* 댓글 영역 */
div.comment-div {
	display: flex;
	
}

input.comment-show {
	min-height: 100px;
}

div.comment-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: 15px;
	border-bottom: 15px;
	margin-left: 5px;
}

div.comment-header img {
	width: 50px;
	height:50px;
	border-radius: 50%;
}

div.div-open-comment {
	margin-top: 10px;
	margin-left: auto;
}


div.comment-control-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.comment-control-btn button {
	margin-bottom: 5px;
}

div.comment-control-btn button:last-child {
	margin-bottom: 0px;
}

div.comment-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
}

div.comment-content input {
	height: 100%;
}

.comments-list-div div:nth-child(1) { flex-grow: 0; }
.comments-list-div div:nth-child(2) { flex-grow: 1; }
.comments-list-div div:nth-child(3) { flex-grow: 0; }

/* 대댓글 영역 */
div.nested-comment-div {
	display:flex;
	width: 80vw;
	margin-left: auto;
}