<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout/basic">

<th:block layout:fragment="content">
	<div class="p-5 mb-4 bg-light rounded-3">
		<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold">Login With</h1> <br>
		
			<a href="/oauth2/authorization/google">
				<button class="dropdown-item" type="button">Google</button>
			</a>
			<div class="dropdown-divider"></div>
			<a href="/oauth2/authorization/kakao">
				<button class="dropdown-item" type="button">Kakao</button>
			</a>
			<div class="dropdown-divider"></div>
			<a href="/oauth2/authorization/naver">
				<button class="dropdown-item" type="button">Naver</button>
			</a>
		</div>
	</div>
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/


		/*[- end of function -]*/

		/*]]>*/
	</script>

</th:block>

</html>